/* Fixes */
body {
  overflow-y: scroll;
}
body div.single-title a img {
  width: 48px;
  height: 48px;
}
body div.single-title span.team-avatar img {
  width: 20px;
  height: 20px;
}
body form.comment textarea {
  resize: vertical;
}

/* Grid */
#main ol.dribbbles li.group,
#main ol.collections li.group {
  width: 32%;
  margin-right: 2%;
}
#main ol.dribbbles li.group:nth-child(4n),
#main ol.collections li.group:nth-child(4n) {
  margin-right: 2%;
}
#main ol.dribbbles li.group:nth-child(3n),
#main ol.collections li.group:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1199px) {
  #main:not(.main-full) ol.dribbbles li.group,
  #main:not(.main-full) ol.collections li.group {
    width: 48%;
    margin-right: 4%;
  }
  #main:not(.main-full) ol.dribbbles li.group:nth-child(4n),
  #main:not(.main-full) ol.collections li.group:nth-child(4n) {
    margin-right: 4%;
  }
  #main:not(.main-full) ol.dribbbles li.group:nth-child(3n),
  #main:not(.main-full) ol.collections li.group:nth-child(3n) {
    margin-right: 4%;
  }
  #main:not(.main-full) ol.dribbbles li.group:nth-child(2n),
  #main:not(.main-full) ol.collections li.group:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  #main ol.dribbbles li.group,
  #main ol.collections li.group {
    width: 48%;
    margin-right: 4%;
  }
  #main ol.dribbbles li.group:nth-child(4n),
  #main ol.collections li.group:nth-child(4n) {
    margin-right: 4%;
  }
  #main ol.dribbbles li.group:nth-child(3n),
  #main ol.collections li.group:nth-child(3n) {
    margin-right: 4%;
  }
  #main ol.dribbbles li.group:nth-child(2n),
  #main ol.collections li.group:nth-child(2n) {
    margin-right: 0;
  }
}


/* Better Descriptions */
body ol.dribbbles li div.dribbble a.dribbble-over {
  padding: 30px;
  background: rgba(255, 255, 255, 0.95);
}
body ol.dribbbles li div.dribbble a.dribbble-over strong {
  font-size: 16px;
  margin-bottom: 12px;
}
body ol.dribbbles li div.dribbble a.dribbble-over span.comment {
  font-size: 13px;
  line-height: 1.6;
}
body ol.dribbbles li div.dribbble a.dribbble-over em {
  left: 30px;
  bottom: 20px;
}

/* HQ Shots */
body ol.dribbbles li div.dribbble-img img,
body ol.collections li div.dribbble-img img {
  width: 100%;
  max-height: none;
}
body ol.dribbbles li div.dribbble-img .dribbble-link {
  position: relative;
  display: block;
}
body ol.dribbbles li div.dribbble-img .dribbble-link img.hq {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}
body ol.dribbbles li div.dribbble-img .dribbble-link.hq-loaded img.hq {
  opacity: 1.0;
  visibility: visible;
}


/* Infinite scrolling */
.loading-spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 10px;
  background: url('chrome-extension://__MSG_@@extension_id__/assets/loading.gif') no-repeat 50% 50%;

  vertical-align: top;
  margin-top: -8px;

  visibility: hidden;
  opacity: 0.0;
}
.loading-spinner.active {
  opacity: 1.0;
  visibility: visible;
}

/* Scroll to Top */
.scroll-to-top {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  margin: 0 10px 10px 0;
  background: url('chrome-extension://__MSG_@@extension_id__/assets/scroll_up.png') no-repeat 50% 50%;
  background-size: 35px 35px;
  cursor: pointer
}
.scroll-to-top:hover {
  opacity: 0.6;
}


/* GIF Support */
@-webkit-keyframes blink {  
  0% { opacity: 0.0; }
  5% { opacity: 0.0; }
  45% { opacity: 1.0; }
  55% { opacity: 1.0; }
  95% { opacity: 0.0; }
  100% { opacity: 0.0; }
}
img.is-gif {
  -webkit-animation: blink 1.0s linear infinite;
  transition: all 0.2s ease-out;
} 
img.is-gif.hidden {
  opacity: 0.0;
  display: none;
  visibility: hidden;
}


/* Like button */
ol.dribbbles li.enhanced ul.tools, ol.collections li.enhanced ul.tools {
  visibility: visible;
}
body.powershot-loaded ul.tools li.fav a,
body.powershot-loaded ul.tools li.bucket a {
  transition: all 0.2s ease-out;
}

ul.tools li.fav a,
ul.tools li.bucket a {
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 22px;
  border-radius: 2px;
  cursor: pointer;
}

ul.tools li.fav a {
  background: url('chrome-extension://__MSG_@@extension_id__/assets/icon-hearts.png') no-repeat;
  background-position: 5px -12px;
  background-color: #f0f0f0;
  
}
  ul.tools li.fav a:hover {
    background-color: #fdd4e4;
  }

  /* Liked */
  ul.tools li.fav.marked a {
    background-color: #ffd7e6;
    color: #ea4c90;
    background-position: 5px -29px;
  }
    ul.tools li.fav.marked a:hover {
      color: #ea4c90;
    }


/* Bucket Button */
ul.tools li.bucket a {
  /*display: inline-block;*/
  background: url('chrome-extension://__MSG_@@extension_id__/assets/icon-buckets.png') no-repeat;
  background-position: 4px -31px;
  background-color: #f0f0f0;
  color: #808080;
}
  ul.tools li.bucket a:hover {
    background-color: #e0e0e0;
  }


/* Playoffs */
#main .playoffs .multi .dribbbles > li.group {
  width: 320px;
}


/* Secondary Sidebar */
body#details div.secondary {
  display: none;
}
body#details #main div.secondary {
  clear: right;
  width: 250px;
  margin-top: 40px;
  float: right;
}


/* Larger Individual Shots */
body #content, body #main.main-full, body #main.full-800,
body div.profile-dash div.profile-dash-inner,
body #header-inner, body #footer-inner {
  max-width: 1160px;
}

/* Individual Shot */
body#details div.the-shot,
body#details #main.full-800 div.the-shot,
body#details div.shot-desc,
body#details #comments-section {
  box-sizing: border-box;
  width: calc(100% - 290px);
}

body#details div.the-shot div.single,
body#details div.the-shot div.single-grid {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
body#details div.the-shot div.single-grid {
  /*height: 600px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
}
body#details div.the-shot div.single-grid div.single-img img {
  max-width: 100%;
  max-height: 600px;
}

body#details div.single-img [data-picture] {
  visibility: hidden;
}

body#details div.single-title span.screenshot-dash span.sep {
  display: none;
}
body#details div.single-title span.screenshot-dash a.twotimes {
  display: none;
}
body#details #main {
  float: none;
  width: auto;
}

/* Shot Comments */
body#details ol.comments li div.comment-body {
  width: auto;
}
body form.comment textarea {
  box-sizing: border-box;
  width: 100%;
}


/* Add to Bucket */
#add-to-bucket {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.85);
  z-index: 9999;
  visibility: hidden;
  transition: all 0.2s ease-out;
  opacity: 0.0;

  display: flex;
  flex-direction: column;
}
#add-to-bucket.active {
  visibility: visible;
  opacity: 1.0;
}
#add-to-bucket .buckets {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  overflow-y: auto;
  box-sizing: border-box;

  flex: 2;
}
#add-to-bucket .buckets li {
  box-sizing: border-box;
  display: block;
  float: left;
  position: relative;
  width: 46%;
  margin: 15px 2%;
  height: 80px;

  border: none;
  text-align: left;

  background: #ffffff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  transition: all 0.2s ease-out;
}
#add-to-bucket .buckets.loading li {
  opacity: 0.0;
}
#add-to-bucket .buckets li {
  opacity: 1.0;
}
#add-to-bucket .buckets li .bucket-img {
  display: block;
  float: left;
  width: 80px;
  height: 60px;
  padding: 0;
  overflow: hidden;
  background: #434343;
}
#add-to-bucket .buckets li .bucket-img img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: none;
  float: none;
  background: none;
}
#add-to-bucket .buckets li strong {
  display: block;
  color: #444444;
  font-size: 16px;
  line-height: 140%;
  font-weight: bold;
  margin: 0;
  margin-left: 100px;
  margin-top: 8px;
  margin-bottom: 3px;
}
#add-to-bucket .buckets li .bucket-meta {
  margin: 0;
  margin-left: 100px;
  font-size: 13px;
  color: #bababa;
}
#add-to-bucket .buckets li .bucket-meta:last-child {
  display: none;
}

/* Bucketed */
#add-to-bucket .buckets li.unbucketed:hover {
  background: #eeeeee;
}
#add-to-bucket .buckets li.unbucketed:hover a::after {
  opacity: 0.5;
  visibility: visible;
}
#add-to-bucket .buckets li.bucketed {
  background: #ea4b89;
}
#add-to-bucket .buckets li a::after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "✔";
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 2px;
  color: #ffffff;
  background: rgba(0,0,0,0.2);
  opacity: 0.0;
  visibility: hidden;
  
  transition: all 0.2s ease-out;
  z-index: 10;
}
#add-to-bucket .buckets li.bucketed a::after {
  visibility: visible;
  opacity: 1.0;
}
#add-to-bucket .buckets li.bucketed strong {
  color: #ffffff;
}
#add-to-bucket .buckets li.bucketed .bucket-meta {
  color: #eeeeee;
}


/* New Bucket */
#add-to-bucket .buckets li.newbucket {
  background: none;
  border: 2px dashed #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
#add-to-bucket .buckets li.newbucket:hover,
#add-to-bucket .buckets li.newbucket.active {
  background: rgba(255,255,255,0.1);
}
#add-to-bucket .buckets li.newbucket .bucket-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0px;
  height: 60px;
  visibility: hidden;
  opacity: 0.0;
  transition: all 0.2s ease-out;
}
  #add-to-bucket .buckets li.newbucket .bucket-img img {
    width: 80px;
    max-width: none;
  }
#add-to-bucket .buckets li.newbucket strong {
  margin-left: 12px;
  margin-top: 16px;
  color: #ffffff;
}
#add-to-bucket .buckets li.newbucket form {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 9px;
  visibility: hidden;
  transition: all 0.2s ease-out;
}
#add-to-bucket .buckets li.newbucket input {
  box-sizing: border-box;
  width: 100%;
  background: none;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
  padding: 5px 0px;
}
#add-to-bucket .buckets li.newbucket input:focus {
  border-color: white;
  outline: none;
}
#add-to-bucket .buckets li.newbucket.active .bucket-img {
  width: 80px;
  opacity: 1.0;
  visibility: visible;
}
#add-to-bucket .buckets li.newbucket.active strong {
  display: none;
}
#add-to-bucket .buckets li.newbucket.active form {
  margin-left: 100px;
  visibility: visible;
}



#add-to-bucket .buckets::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 119, ../sass/modules/_vars.scss */
#add-to-bucket .buckets::-webkit-scrollbar-button {
  display: none;
}
/* line 121, ../sass/modules/_vars.scss */
#add-to-bucket .buckets::-webkit-scrollbar-track {
  display: none;
}
/* line 123, ../sass/modules/_vars.scss */
#add-to-bucket .buckets::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 125, ../sass/modules/_vars.scss */
#add-to-bucket .buckets::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 132, ../sass/modules/_vars.scss */
#add-to-bucket .buckets::-webkit-scrollbar-corner {
  display: none;
}
/* line 134, ../sass/modules/_vars.scss */
#add-to-bucket .buckets::-webkit-resizer {
  display: none;
}
/* line 137, ../sass/modules/_vars.scss */
#add-to-bucket .buckets:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 143, ../sass/modules/_vars.scss */
#add-to-bucket .buckets:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}


/* Better Screen Support */
@media(min-width: 1200px) {

  body#details div.the-shot,
  body#details #main.full-800 div.the-shot,
  body#details div.shot-desc,
  body#details #comments-section {
    box-sizing: border-box;
    width: calc(100% - 320px);
  }

  body#details div.the-shot div.single-grid {
    height: 600px;
  }

  body#details #main div.screenshot-meta,
  body#details #main.full-800 div.screenshot-meta,
  body#details #main div.secondary {
    width: 280px;
    margin-right: 0;
  }


  body ol.dribbbles li ul.tools {
    margin-top: 11px;
    margin-bottom: 1px;
  }
  body ul.tools li {
    font-size: 12px;
  }
  body ul.tools li.bucket {
    height: 12px;
  }
}

@media(max-width: 720px) {
  body#details div.the-shot,
  body#details #main.full-800 div.the-shot,
  body#details div.shot-desc,
  body#details #comments-section {
    box-sizing: border-box;
    width: auto;
    float: none;
  }
  body#details #main div.secondary {
    display: none !important;
  }
}
