@charset "UTF-8";

/* Fixes */
body {
  overflow-y: scroll;
}
body div.single-title a img {
  width: 48px;
  height: 48px;
}
body div.single-title span.team-avatar img {
  width: 20px;
  height: 20px;
}
body form.comment textarea {
  resize: vertical;
}

@import "_feed";
@import "_shots";
@import "_add_bucket";


/* Better Screen Support */
@media(min-width: 1200px) {

  body#details div.the-shot,
  body#details #main.full-800 div.the-shot,
  body#details div.shot-desc,
  body#details #comments-section {
    box-sizing: border-box;
    //width: calc(100% - 320px);
  }

  body#details div.the-shot div.single-grid {
    height: 600px;
  }

  body#details #main div.screenshot-meta,
  body#details #main.full-800 div.screenshot-meta,
  body#details #main div.secondary {
    width: 280px;
    margin-right: 0;
  }


  body ol.dribbbles li ul.tools {
    margin-top: 11px;
    margin-bottom: 1px;
  }
  body ul.tools li {
    font-size: 12px;
  }
  body ul.tools li.bucket {
    height: 12px;
  }
}

@media(max-width: 720px) {
  body#details div.the-shot,
  body#details #main.full-800 div.the-shot,
  body#details div.shot-desc,
  body#details #comments-section {
    box-sizing: border-box;
    width: auto;
    float: none;
  }
  body#details #main div.secondary {
    display: none !important;
  }
}
